<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shop.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @shop.location %>
</p>

<p>
  <strong>Product:</strong>
  <%= @shop.product %>
</p>

<p>
  <strong>Price:</strong>
  <%= @shop.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @shop.quantity %>
</p>

<p>
  <strong>Department:</strong>
  <%= @shop.department %>
</p>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
