<p id="notice"><%= notice %></p>

<h1>Ecomercs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Department</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ecomercs.each do |ecomerc| %>
      <tr>
        <td><%= ecomerc.name %></td>
        <td><%= ecomerc.location %></td>
        <td><%= ecomerc.department %></td>
        <td><%= link_to 'Show', ecomerc %></td>
        <td><%= link_to 'Edit', edit_ecomerc_path(ecomerc) %></td>
        <td><%= link_to 'Destroy', ecomerc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ecomerc', new_ecomerc_path %>
