<%= form_with(model: factor, local: true) do |form| %>
  <% if factor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(factor.errors.count, "error") %> prohibited this factor from being saved:</h2>

      <ul>
      <% factor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :product %>
    <%= form.text_field :product %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :department_id %>
    <%= form.text_field :department_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
